html{
  scroll-behavior: smooth;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.background-image-container{
    background-size: cover;
}

.btn{
    border: 2px solid #8acfc5 !important;
}
.img-responsive{
    width: 360px !important;
    height: 240px !important;
}
.img-responsive:hover{
    transform: scale(1.15);
    transition: 1s;
}
 .top-bottom{
     font-size: 5em;
     color: #fd4900 !important;
     animation: fade 0.8s linear 0.1s;
 }

@keyframes fade{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

 .quote {
  overflow: auto; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.5px; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

 iframe{
     width: 100%;
     box-shadow: 5px 5px 5px #888 !important; 
 }


 .about{
   color: #fd4900;
   opacity: 0.7;
 }
